// logo 

.logo {
    width: 3.25rem;
    margin-left: 1.5rem;
}

// search box

.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and(max-width: $breakpoint-small) {
        order: 1;
        flex: 0 0 80%;
        margin: 0 auto;
    }
    &__input {
       width: 90%;
       font-family: inherit;
       font-size: 1.5rem;
       background-color: var(--grey-light-2);
       border: none;
       outline: none;
       padding: .7rem 2rem;
       border-radius: 5rem;
       margin-right: -3.5rem;
       transition: all .2s linear;
       &:focus {
           width: 100%;
           background-color: var(--grey-light-3);
       }
       &::-webkit-input-placeholder {
           color:var(--grey-dark-3);
           font-weight:100;
       }
    }
    &__input:focus + &__button {
        background-color: var(--grey-light-3);

    }
    &__button {
        background-color: var(--grey-light-2);
        border: none;
        outline: none;
        &:active {
            transform: translateY(2px);
        }
     
    }
    &__icon {
        height: 2rem;
        width: 2rem;
        fill :var(--grey-dark-3)
    }
}

// user nav 
.user-nav {
    align-self: stretch;
    display: flex;
    align-items: center;

    & > * {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 2rem;
      cursor: pointer;
    }
    & > *:hover {
        background-color: var(--grey-light-3);
    }
    &__icon__box {
        position: relative;
    }
    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--grey-dark-2);
        
    }
    &__notification {
     font-size: 1rem;
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      background-color: var(--primary);
      color: var(--line);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 1.25rem;
      right: 1.1rem;
    }
    &__user-photo {
        height: 3.75rem;
        width: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}

//  side navigation 

.side-nav {
    font-size: 1.5rem;
    margin-top: 3.5rem;
    list-style: none;
    @media screen and(max-width: $breakpoint-medium) {
        display: flex;
        margin: 0;
    }
    &__item {
       position: relative;
       &:not(:last-child) {
           margin-bottom: .5rem;
           @media screen and(max-width: $breakpoint-medium) {
            margin-bottom: 0;
            }
       }
       @media screen and(max-width: $breakpoint-medium) {
           flex: 1;
     }
    }
    &__item::before {
        content: '';
        display: block;
        height: 100%;
        width: 3px;
        background-color: var(--primary);
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleY(0);
        transition: transform  .1s,
                    width .2s .1s cubic-bezier(1,0,0,1),
                    background .1s;

    }
    &__item:active::before {
        background-color: var(--primary-light);
    }
    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }
    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
       
        &:link,
        &:visited {
            color : var(--grey-light-1);
            text-transform: uppercase;
            padding: 1.5rem 3rem;
            position: relative;
            z-index: 10;
            @media screen and(max-width: $breakpoint-medium) {
                justify-content: center;
                padding: 2rem;
                }
                @media screen and(max-width: $breakpoint-small) {
                    flex-direction: column;
                    padding: 1.5rem .5rem;
                 }

        }

    }
    &__icon {
      width: 1.75rem;
      height: 1.75rem;
      margin-right: 2rem;
      fill: currentColor;
      @media screen and(max-width: $breakpoint-small) {
        margin-right: 0;
        margin-bottom: .6rem;
        width: 1.5rem;
        height: 1.5rem;
     }

    }
}

// legal text
.legal {
    font-size: 1.2rem;
    text-align: center;
    color: var(--grey-light-4);
    padding: 2.5rem;
    @media screen and(max-width: $breakpoint-medium) {
        display: none
    }
}

// hotel view styling 

.gallery {
    display: flex;

    &__item {
        flex: 0 0 33.3333333337%;
        height: 250px;
    }
   
    &__photo {
        display: block;
        width: 100%;
        height: 100%;
        
    }
}

// overview 

.overview {
    display: flex;
    align-items: center;
    border-bottom: var(--line);

    &__heading {
       font-size: 2.25rem;
       font-weight: 100;
       text-transform: uppercase;
       padding: 1.5rem 3rem;
       letter-spacing: 2px;
       @media screen and(max-width: $breakpoint-small) {
        font-size: 1.75rem;
        padding: 1rem 2rem;
        letter-spacing: 0;
     }
    }
    &__stars {
        margin-right: auto;
        display: flex;
    }
    &__icon-star,
    &__icon-location{
       width: 1.75rem;
       height: 1.75rem;
       fill: var(--primary);

    }
    &__icon-location{
        margin-right: 1.5rem;
    }
    &__location{
    
     font-size: 1.2rem;
     display: flex;
     align-items: center;

    }
    &__rating{
      margin-left: 1rem;
      background-color: var(--primary);
      color : var(--white);
      padding: 0 2.25rem;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @media screen and(max-width: $breakpoint-small) {
        padding: 0 1.5rem;
     }
    }
    &__rating-average{
         font-size: 2.25rem;
         font-weight: 100;
         margin-bottom: -4px;
         @media screen and(max-width: $breakpoint-small) {
            font-size: 1.8rem;
         }
    }
    &__rating-count {
        font-size: 1rem;
    }
}

// button inline 
.btn-inline {
    display: inline-block;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: inherit;
    color: var(--primary);
    border-bottom: 1px solid currentColor;
    padding: 3px;
    margin-right: 1.5rem;
    cursor: pointer;
    transition: color .3s ease-in-out;
    span {
        margin-left: .5rem;
        transition:  margin-left .2s;
    }
    &:hover {
        color : var(--grey-dark-1);
        span {
            margin-left: 1rem;
        }
         }
    &:focus {
        animation : pulsate 1s infinite;
    } 
}

@keyframes pulsate {
    0% {
       transform: scale(1); 
       box-shadow: none;
    }
    50% {
      transform: scale(1.05);
      box-shadow: 0 1rem 2rem rgba(0,0,0,.25);
    }
    100% {
        transform: scale(1); 
        box-shadow: none;
     }
}

// paragraph

.paragraph:not(:last-of-type) {
    margin-bottom: 1rem;
}

// list
.list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem;
    border-top: var(--line);
    border-bottom: var(--line);
    display: flex;
    flex-wrap: wrap;
    &__item {
        flex: 0 0 50%;
        font-size: 1.3rem;
        margin-bottom: .7rem;
        position: relative;
        &:before {
            content: '\003e';
            display: block;
            height: 1.5rem;
            width: 1.5rem;
            margin-bottom: 1rem;
            font-size: 1.25rem;
            font-weight: 200;
            position: absolute;
            left: -1.5rem;
            top: 0;
            color: var(--primary)
            
       }
    }
}

// recommend
.recommend {
    font-size: 1.3rem;
    color : var(--grey-dark-3);
    display: flex;
    align-items: center;
    &__count {
        margin-right: auto;

    }
    &__friends {
    //  flex: 1;
     display: flex;
    }
    &__photo {
        width: 3rem;
        height: 3rem;
        border-radius: 100%; 
        border: 2px solid var(--white);
        box-sizing: content-box;

        &:not(:last-of-type) {
            margin-right: -1.25rem;
        }
       
    }
}

// reviews 

.review {
    background-color: var(--white);
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3rem;
    position: relative;
    overflow: hidden;
    @media screen and(max-width: $breakpoint-medium) {
        padding: 2rem;
        margin-bottom: 2rem;
        }
    &__text {
          margin-bottom: 2rem;
    }
    &__user {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__photo {
      display: block;
       width: 4.5rem;
       height: 4.5rem;
       border-radius: 50%;
    }
    &__box {
       margin-right: auto;
    }
    &__user-name {
         font-size: 1.1rem;
         font-weight: bold;
         text-transform: uppercase;
         margin-bottom: .4rem;
    }
    &__user-date {
     font-size: 1rem;
     color : var(--grey-dark-3)
    }
    &__rating {
      color : var(--primary);
      font-size: 2.2rem;
      font-weight: 100;
    }
    &::before {
        display: block;
        content : "\201C";
        font-size: 12rem;
        position: absolute;
        left: 0;
        top:-2rem;
        line-height: 1;
        color: var(--grey-light-3);
        font-family: 'sans-serif';
    }
}

//  call to aciton
.cta {
    padding: 3.5rem;
    text-align: center;
    @media screen and(max-width: $breakpoint-medium) {
        padding: 2rem 0;
        }
    &__call-now{
        font-size: 1.75rem;
        font-weight: 300;
        text-transform: uppercase;
        color: var(--grey-dark-1);
        margin-bottom: 2.5rem;
    }
}

// booking button 

.btn {
    font-size: 1.5rem;
    border: none;
    outline: none;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 100px;
    background-image: linear-gradient(to right , var(--primary-light), var(--primary-dark));
    color: var(--white);
    padding: 2rem 7.75rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .4s;

    
    &__visible {
        display: inline-block;
        width: 100%;
        position: absolute;
        top: 30%;
        left: 0%;
        transition: all .4s;
    }

    &__invisible {
        display: inline-block;
        width: 100%;
        position: absolute;
        left: 0;
        top: -100%;
        transition: all .4s;
    }
    &:hover {
        background-image: linear-gradient(to left , var(--primary-light), var(--primary-dark));

    }
    &:hover &__visible {
            top: 100%
        }
    &:hover &__invisible {
          top: 30%
    }
   &:focus {
       animation: pulsate 1s infinite;
   }
}